<%- include("./partials/header"); -%>



<main>
    <div>
        
        <section id="Electric">
            <h1>Electric Type Pokemon</h1>
            <div id="pokemon-container">
                <% pokemons.forEach(pokemon => { %>
                    <a href="/info/<%= pokemon.name %>">
                        <img src="<%= pokemon.image %>" alt="<%= pokemon.name %>">
                        <p><%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) %></p>
                    </a>
                <% }); %>
            </div>
        </section>
    </div>
</main>
